main{
    position: relative;
    width: 1440px;
    height: 900px;

    background: #FFFFFF;
}
.main1,
.main2,
.main3{
    position: absolute;
    width: 1440px;
    height: 900px;
}
/*First section*/
.main1{
    background: #FFFFFF;
}
.main1__black-rectangle{
    position: absolute;
    width: 461px;
    height: 900px;
    left: 0;
    top: 0;

    background: #000000;
}
.main1_image{
    position: absolute;
    width: 549px;
    height: 562px;
    left: 186px;
    top: 169px;
}

.main1__logo{
    position: absolute;
    width: 98px;
    height: 37px;
    left: 52px;
    top: 36px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.07em;

    color: #FFFFFF;
}
.main1__lang-ru{
    position: absolute;
    width: 31px;
    height: 25px;
    left: 388px;
    top: 42px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: right;

    color: #FFFFFF;

}

.main1__new-collection{
    position: absolute;
    width: 491px;
    height: 397px;
    left: 786px;
    top: 263px;
}
.main1__new-collection_title{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 82px;

    color: #000000;
}
.main1__new-collection_text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 21px;

    color: #000000;
}
.main1__new-collection_read-more-box{
    /*position: absolute;*/
    width: 203px;
    height: 44px;
    left: 786px;
    top: 616px;

    border: 1.5px solid #000000;
    box-sizing: border-box;

}
.main1__new-collection_read-more-text{
    /*position: absolute;*/
    padding: 9px 35px;

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 0;
    /* identical to box height */


    color: #000000;
}



/*Second section*/
.main2{
    background:#FAE8E4;
    left: 0;
    top: 900px;
}

/*Third section*/
.main3{
    background: #EBE3D8;
    left: 0;
    top: 1800px;
}